<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>GameVue</title>
		<script src="https://www.gstatic.com/firebasejs/3.7.8/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
			apiKey: "AIzaSyCcn-PMVozRa8Gkem8JImkEBBIIiancl5k",
			authDomain: "gamevue-c6394.firebaseapp.com",
			databaseURL: "https://gamevue-c6394.firebaseio.com",
			projectId: "gamevue-c6394",
			storageBucket: "gamevue-c6394.appspot.com",
			messagingSenderId: "351663205276"
		  };
		  firebase.initializeApp(config);
		  </script>
		<!-- add favicon -->
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../styles/home-style.css" type="text/css"/>
		<style>
			.thumbnail{
				white-space:nowrap;
				cursor:pointer;
				color:black;
			}
			.thumbnail-content{
				height: 85px;
			}
			.thumbnail-footer{
				height:50px;
				line-height:50px;
			}
			.add-game-txt{
				font-size:20px;
			}
			.thumbnail-opponent{
				font-size: 24px;
				height: 50px;
				line-height: 50px;
			}
			.thumbnail-outcome{
				font-size: 24px;
				height: 35px;
				line-height: 35px;
			}
			.thumbnail-score{
				font-size:34px;
				height:50px;
			}
			.color-win{
				color:green;
			}
			.color-lose{
				color:red;
			}
			#add-game-plus{
				line-height: 85px;
				color: green;
				font-size: 25px;
			}
			#games-header{
				margin-left:20px;
			}
		</style>
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="home">GameVue</a>
		    </div>
		    <div id="top-bar" class="collapse navbar-collapse">
		      <ul class="nav navbar-nav">
		        <li><a href="#about">Brown University Football Team</a></li>
		      </ul>
		      <ul class="nav navbar-nav" id="hidden-nav">
		        <li><a href="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		        <li><a href="gamepage"><span class="glyphicon glyphicon-film"></span> Games</a></li>
		        <li><a href="players"><span class="glyphicon glyphicon-user"></span> Players</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li id="logout"><a  onclick = "signOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		      </ul>
		    </div><!--/.nav-collapse -->
		</div><!--/.navbar -->

		<div class="row-offcanvas row-offcanvas-left">
		  <div id="sidebar" class="sidebar-offcanvas">
		      <div class="sidebar-headers">
		      	<div id="side-bar-names">
			        <h3>Navigate</h3>
			        <h5>10 Games Total</h5>
			    </div>
		        <ul id="nav-side-list" class="nav nav-stacked">
		          <hr>
		          <li id="home-nav"><a href="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		          <hr>
		          <li id="active" ><a href="#"><span class="glyphicon glyphicon-film"></span> Games</a></li>
		          <hr>
		          <li><a href="players"><span class="glyphicon glyphicon-user"></span> Players</a></li>
		          <hr>
		          <!--<li><a href="#"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>
		          <hr>-->
		          <!--<li><a href="#"><span class="glyphicon glyphicon-upload"></span> Upload Video</a></li>
		          <hr>-->
		          <!--<li><a href="#"><span class="glyphicon glyphicon-edit"></span> Settings</a></li>
		          <hr>-->
		        </ul>
		      </div>
		  </div>
		  <div id="main">
			<div id="addGameModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Add New Game</h4>
				      </div>
				      <div class="modal-body">
						<form id="gameForm">
						  <div class="form-group">
							<label for="opponentInput">Opponent</label>
							<input type="text" class="form-control" id="opponentInput" placeholder="Enter Opponent Name">
						  </div>
						  <div class="form-group">
							<label for="opponentScoreInput">Opponent Score</label>
							<input type="number" class="form-control" id="opponentScoreInput" placeholder="Enter number of points">
						  </div>
						  <div class="form-group">
							<label for="teamScoreInput">Your Score</label>
							<input type="text" class="form-control" id="teamScoreInput" placeholder="Enter number of points">
						  </div>
						  <button type="submit" class="btn btn-default">
							Add Game
						  </button>
						</form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
			<div class="row">
				<h1 id="games-header">
				Games
				</h1>
			</div>
			<div id="thumbnail-holder" class="row">
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail add-game-thumbnail text-center" data-toggle="modal" data-target="#addGameModal">
						<div class="thumbnail-content">
							<span id="add-game-plus" class="glyphicon glyphicon-plus"></span>
						</div>
						<div class="thumbnail-footer">
							<div class="add-game-txt">
								Add New Game
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		  <script>
		  var teamId;
		  $(document).ajaxStop(function(){
			$("#gameForm").submit(function(e){
				e.preventDefault();
				let teamId = teamId;
				let opponent = $("#opponentInput").val();
				let opponentScore = $("#opponentScoreInput").val();
				let teamScore = $("#teamScoreInput").val();
				let parameters = {
					teamId:teamId,
					opponent:opponent,
					opponentScore:opponentScore,
					teamScore:teamScore
				};
				buildGameEl(opponent, opponentScore, teamScore);
				$.post('/createGame', parameters, function(response){
				});
			});
		  });
		  $(document).ready(function(){
		  function signOut() {
  				firebase.auth().signOut().then(function() {
    			window.location = "/";
  				}).catch(function(error) {
    				alert(error.message);
  				});
			}
		  firebase.auth().onAuthStateChanged(function(user) {
		
			if (user) {
			var userIsCoach = firebase.auth().currentUser.displayName[0]=='c';
			console.log(userIsCoach);
			$("#gameForm").submit(function(e){
				e.preventDefault();
				let teamId = 'team1';
				let opponent = $("#opponentInput").val();
				let opponentScore = $("#opponentScoreInput").val();
				let teamScore = $("#teamScoreInput").val();
				let parameters = {
					teamId:teamId,
					opponent:opponent,
					opponentScore:opponentScore,
					teamScore:teamScore
				};
				buildGameEl(opponent, opponentScore, teamScore);
				$.post('/createGame', parameters, function(response){
				});
			});
			if(userIsCoach){
				var coachParams = {
					 coachId: firebase.auth().currentUser.displayName.substring(1) 
				  }
				  $.post('/getCoach', coachParams, function(response){
					teamId = response.teamId;
					var getGamesParam = {
						teamId:teamId
					}
					$.post('/getGames', getGamesParam, function(response){
						for(id in response){
							var game = response[id];
							buildGameEl(game.opponent, game.opponentScore, game.teamScore, id, 1);
						}
						});
						/*$.post('/getPlaysForGame', function(response){
							console.log(response);
						});*/
				  });
			}
			else{
				var playerParams = {
					 playerId: firebase.auth().currentUser.displayName.substring(1) 
				  }
				  $.post('/getPlayer', playerParams, function(response){
					teamId = response.teamId;
					var getGamesParam = {
						teamId:teamId
					}
					$.post('/getGames', getGamesParam, function(response){
						for(id in response){
							var game = response[id];
							buildGameEl(game.opponent, game.opponentScore, game.teamScore, id, 0);
						}
						});
						/*$.post('/getPlaysForGame', function(response){
							console.log(response);
						});*/
				  });
			}
			
			$(document).on('click', '.game-thumbnail' , function(){
				localStorage.gameId = $(this)[0].id;
			});
			
			
			function buildGameEl(opponent, opponentScore, teamScore, id, isCoach){
				firebase.auth().currentUser.photoURL = $(this)[0].id;
				console.log(firebase.auth().currentUser);
				var divString = '<div></div>';
				var aString = '<a></a>';
				var widthDiv = $(divString);
				widthDiv.addClass("col-sm-6 col-md-3");
				var thumbnailDiv = $(divString);
				thumbnailDiv.addClass("thumbnail game-thumbnail text-center");
				thumbnailDiv.attr('id', id);
				var thumbnailContentDiv = $(divString);
				thumbnailContentDiv.addClass("thumbnail-content");
				var thumbnailOpponentDiv = $(divString);
				thumbnailOpponentDiv.addClass("thumbnail-opponent");
				var thumbnailOutcomeDiv = $(divString);
				thumbnailOutcomeDiv.addClass("thumbnail-outcome")
				var thumbnailFooterDiv = $(divString);
				thumbnailFooterDiv.addClass("thumbnail-footer");
				var thumbnailScoreDiv = $(divString);
				thumbnailScoreDiv.addClass("thumbnail-score");
				var opponentString = "vs. "+opponent;
				thumbnailOpponentDiv.html(opponentString);
				var outcomeString = "";
				var outcomeClass = "";
				if(teamScore>opponentScore){
					outcomeString = "W";
					outcomeClass = "color-win";
				}
				else if(opponentScore > teamScore){
					outcomeString = "L";
					outcomeClass="color-lose";
				}
				else{
					outcomeString = "T";
				}
				thumbnailOutcomeDiv.addClass(outcomeClass);
				thumbnailOutcomeDiv.html(outcomeString);
				var thumbnailScoreString = ""+teamScore + "-" + opponentScore+"";
				thumbnailScoreDiv.html(thumbnailScoreString);
				widthDiv.append(thumbnailDiv);
				thumbnailDiv.append(thumbnailContentDiv);
				thumbnailDiv.append(thumbnailFooterDiv);
				thumbnailContentDiv.append(thumbnailOpponentDiv);
				thumbnailContentDiv.append(thumbnailOutcomeDiv);
				thumbnailFooterDiv.append(thumbnailScoreDiv);
				var a = $(aString);
				var aTxt = (isCoach)?'coach':'player';
				a[0].href = '/' + aTxt +'view';
				a.append(widthDiv);
				$("#thumbnail-holder").append(a);
			}
		}
		else {
			window.location = "/";
		}
	});
		  });
		  
		  </script>
		}
	</body> 
</html> 