<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>GameVue</title>
		<script src="https://www.gstatic.com/firebasejs/3.7.8/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
			apiKey: "AIzaSyCcn-PMVozRa8Gkem8JImkEBBIIiancl5k",
			authDomain: "gamevue-c6394.firebaseapp.com",
			databaseURL: "https://gamevue-c6394.firebaseio.com",
			projectId: "gamevue-c6394",
			storageBucket: "gamevue-c6394.appspot.com",
			messagingSenderId: "351663205276"
		  };
		  firebase.initializeApp(config);
		  </script>
		<!-- add favicon -->
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript" src="../js/home.js"></script>
		<link rel="stylesheet" href="../styles/home-style.css" type="text/css"/>
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="home">GameVue</a>
		    </div>
		    <div id="top-bar" class="collapse navbar-collapse">
		      <ul class="nav navbar-nav">
		        <li><a href="#about">Brown University Football Team</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li id="logout"><a href="login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		      </ul>
		    </div><!--/.nav-collapse -->
		</div><!--/.navbar -->

		<div class="row-offcanvas row-offcanvas-left">
		  <div id="sidebar" class="sidebar-offcanvas">
		      <div class="sidebar-headers">
		      	<div id="side-bar-names">
			        <h3>Navigate</h3>
			        <h5>10 Games Total</h5>
			    </div>
		        <ul id="nav-side-list" class="nav nav-stacked">
		          <hr>
		          <li class="active" id="home-nav"><a href="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		          <hr>
		          <li><a href="gamepage"><span class="glyphicon glyphicon-film"></span> Games</a></li>
		          <hr>
		          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Players</a></li>
		          <hr>
		          <!-- <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>
		          <hr> -->
		          <li><a href="#"><span class="glyphicon glyphicon-upload"></span> Upload Video</a></li>
		          <hr>
		          <!-- <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Settings</a></li>
		          <hr> -->
		        </ul>
		      </div>
		  </div>
		  <div id="main">
		      	<div id="dashboard">
					<div id="dash-title">Dashboard</div>
				</div>
				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">View Players</button>
				<button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#categoryModal">View/Edit Categories</button>
				<div id="myModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Players</h4>
				      </div>
				      <div class="modal-body">
				        <ul>
				        	<li><a href="player_view.html">Bob #52</a></li>
				        	<li><a href="player_view.html">Joe #11</a></li>
				        	<li><a href="player_view.html">Tom #5</a></li>
				        	<li><a href="player_view.html">Alan #30</a></li>
				        	<li><a href="player_view.html">Josh #19</a></li>
				        	<li><a href="player_view.html">Bill #9</a></li>
				        </ul>
				        <button>+</button>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- view players end -->
				<!--Category Modal-->
				<div id="categoryModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Player Categories</h4>
				      </div>
				      <div class="modal-body">
						<div class="row-fluid">
							<div class="col-md-12 select-position-sctn">
								<label id="select-position-label" for="select-position" class="col-md-3 col-form-label">Position:</label>
								<div class="col-md-9">
									<select class="form-control" id="select-position">
										<option></option>
										<option>QB</option>
										<option>RB</option>
										<option>WR</option>
										<option>CB</option>
										<option>FS</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row-fluid text-center">
							<button id="openTraitInputBtn" type="button" class="btn btn-default btn-sm" style="margin-top:10px;">
							  <span class="glyphicon glyphicon-plus-sign" style="color:green"></span> Add New Category
							</button>
							<div class="row" style="margin-bottom:10px;">
								<div style="padding:0;">
									<div class="col-md-3 text-left">
										Least Important
									</div>
									<div class="col-md-3 col-md-offset-6 text-right">
										Most Important
									</div>
								</div>
							</div>
						</div>
						<div class="row-fluid">
							<ul id="traits" style="padding:0;" >
								<li id="newTraitLi" class="hidden">
									<input id="newTraitTxt" type="text">
									<input id="newTraitImportance" type="range" step="25" value="50">
									<div class="text-center" style="margin-top:10px">
										<button id="addTraitBtn" class="btn btn-primary btn-sm" type="button">
											Add Category
										</button
									</div>
								</li>
								<!--<li>Press
								<input type="range" step="25" value="50">
								</li>-->
							</ul>
						</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>

				  </div>
				</div>
			<!-- </div> -->
			<!-- <div class="row"> -->
				<div id="graph" style="width: inherit">
					<h3 class="text-center">Recent Performance</h3>
					<hr>
		    		<div id="chart" style="width: 100%; height: 500px"></div>
	    		</div>
	   
                <div class="col-md-6">
                    <div class="sectionTitle" id="strengths">Strengths</div>
                    <div class="well">
                    	<div class="col-xs-4 text-center">
                    		<div class="strength-score">88</div>
                    		Patience
                    	</div>
                    	<div class="col-xs-4 text-center">
                    		<div class="strength-score">87</div>
                    		Pass-Rush
                    	</div>
                    	<div class="col-xs-4 text-center">
                    		<div class="strength-score">91</div>
                    		Pursuit
                    	</div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="sectionTitle" id="weaknesses">Weaknesses</div>
                    <div class="well">
                    	<div class="col-xs-4 text-center">
                    		<div class="weakness-score">55</div>
                    		Tackles
                    	</div>
                    	<div class="col-xs-4 text-center">
                    		<div class="weakness-score">63</div>
                    		Man-on-Man Coverage
                    	</div>
                    	<div class="col-xs-4 text-center">
                    		<div class="weakness-score">60</div>
                    		Field Goals
                    	</div>
                    </div> 
                </div>
            <!-- recent uploads -->
				<div id="recent-uploads">
					<div class="sectionTitle" id="recent-title">Recent Uploads</div> 
					<!-- Make collapsable?? -->
					<div class="col-md-4 text-center">
						<h4 class="text-center"><a href="player_view.html">Brown vs. Eastlake</a></h4>
					      	<h5 class="text-center">Best Plays</h5>
								<button type="button" class="btn btn-success btn-circle">93</button>
								<button type="button" class="btn btn-success btn-circle">90</button>
								<button type="button" class="btn btn-success btn-circle">88</button>
					      	<h5 class="text-center">Worst Plays</h5>
					      		<button type="button" class="btn btn-danger btn-circle">60</button>
								<button type="button" class="btn btn-danger btn-circle">71</button>
								<button type="button" class="btn btn-danger btn-circle">55</button>
					</div>
					<div class="col-md-4 text-center">
						<h4 class="text-center"><a href="player_view.html">Brown vs. Westwood</a></h4>
				      	<h5 class="text-center">Best Plays</h5>
							<button type="button" class="btn btn-success btn-circle">93</button>
							<button type="button" class="btn btn-success btn-circle">90</button>
							<button type="button" class="btn btn-success btn-circle">88</button>
				      	<h5 class="text-center">Worst Plays</h5>
				      		<button type="button" class="btn btn-danger btn-circle">60</button>
							<button type="button" class="btn btn-danger btn-circle">71</button>
							<button type="button" class="btn btn-danger btn-circle">55</button>
					</div>
					<div class="col-md-4 text-center">
						<h4 class="text-center"><a href="player_view.html">Brown vs. Wellesley</a></h4>
				      	<h5 class="text-center">Best Plays</h5>
							<button type="button" class="btn btn-success btn-circle">93</button>
							<button type="button" class="btn btn-success btn-circle">90</button>
							<button type="button" class="btn btn-success btn-circle">88</button>
				      	<h5 class="text-center">Worst Plays</h5>
				      		<button type="button" class="btn btn-danger btn-circle">60</button>
							<button type="button" class="btn btn-danger btn-circle">71</button>
							<button type="button" class="btn btn-danger btn-circle">55</button>
					</div>
			</div>
	</body> 
</html> 