<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>GameVue</title>
		<!-- add favicon -->
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://www.gstatic.com/firebasejs/3.7.8/firebase.js"></script>
			<script>
  // Initialize Firebase
  var config = {
  	apiKey: "AIzaSyCcn-PMVozRa8Gkem8JImkEBBIIiancl5k",
  	authDomain: "gamevue-c6394.firebaseapp.com",
  	databaseURL: "https://gamevue-c6394.firebaseio.com",
  	projectId: "gamevue-c6394",
  	storageBucket: "gamevue-c6394.appspot.com",
  	messagingSenderId: "351663205276"
  };
  firebase.initializeApp(config);
  </script>

		<script type="text/javascript" src="../js/login.js"></script>
		<link rel="stylesheet" href="../styles/login-style.css" type="text/css"/>
	</head>
	<body>

		<div class="navbar navbar-inverse">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="home">GAMEVUE</a>
		    </div>
		    <div id="top-bar" class="collapse navbar-collapse">
		      <ul class="nav navbar-nav">
		        <li><a href="#about" class="not-active">The easier way to manage practice film</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li id="login"><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		      </ul>
		    </div><!--/.nav-collapse -->
		</div><!--/.navbar -->

		<div class="page1">			
			<div class="row">
				<div class="col-md-6">
					<div id="title-wrapper">
						<h3 id="title">Take practice from the field to your computer</h3>
						<h5>Register now to get started!</h5>
						<a href="#page2"><button id="learn-more">LEARN MORE</button></a>
					</div>
					<!-- <h2>Features</h2>
					<p>-Upload practice video</p>
					<p>-Provide customized scores for players</p>
					<p>-Provide players with individualized feedback</p>
					<p>-View a player's progress over time</p>
					Register now!  -->
				</div> 
			<div class="col-md-6">
				<div class="well">
		        	<div class="panel-heading">
			        	<div class="row">
				        	<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">
									<i class="glyphicon glyphicon-log-in"></i>
									 Login
								</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">
									<i class="glyphicon glyphicon-user"></i>
									 Register
								</a>
							</div>
						</div>
						<hr>
					</div>
				  <div style="padding: 20px;" id="form-olvidado">
				  <form accept-charset="UTF-8" role="form" id="login-form" method="post">
				      <fieldset>
				      	<h4 id="login-header">
				      		Login to your account
				      	</h4>
				        <div class="form-group input-group">
				          <span class="input-group-addon">
				            <i class="glyphicon glyphicon-envelope"></i>
				          </span>
				          <input id="login_email" class="form-control" placeholder="Enter your email" name="email" type="email" required="" autofocus="">
				        </div>
				        <div class="form-group input-group">
				          <span class="input-group-addon">
				            <i class="glyphicon glyphicon-lock"></i>
				          </span>
				          <input id="login_password" class="form-control" placeholder="Password" name="password" type="password" value="" required="">
				        </div>
				        <div class="form-group">
				          <button id="loginSubmitBtn" type="submit" class="btn btn-primary btn-block">
				            Login
				          </button>
				          <p class="help-block">
				            <a class="pull-right text-muted" href="#" id="olvidado">
				            	<i class="glyphicon glyphicon-lock" id="small-lock"></i>
				            	<small>Forgot your password?</small>
				           	</a>
				          </p>
				        </div>
				      </fieldset>
				    </form>
				  </div>
				  <!-- Register -->
				  <div style="padding: 20px;" id="form-register">
					  <form accept-charset="UTF-8" role="form" id="register-form" method="post" style="display: none;">
					      <fieldset>
					      	<h4 id="register-header">
					      		Register a new account
					      	</h4>
					        <div class="form-group input-group">
					          <span class="input-group-addon">
					            First Name
					          </span>
					          <input id = "firstName" class="form-control" placeholder="Enter your first name" name="email" type="text" required="" autofocus="">
					        </div>
					        <div class="form-group input-group">
					          <span class="input-group-addon">
					            Last Name
					          </span>
					          <input id = "lastName" class="form-control" placeholder="Enter your last name" name="email" type="text" required="" autofocus="">
					        </div>
					        <div class="form-group input-group">
					          <span class="input-group-addon">
					            School Name
					          </span>
					          <input id = "schoolName" class="form-control" placeholder="Enter your school name" name="school" type="text" required="" autofocus="">
					        </div>
					        <div class="form-group input-group">
					          <span class="input-group-addon">
					            TeamName
					          </span>
					          <input id = "teamName" class="form-control" placeholder="Enter your team name" name="school" type="text" required="" autofocus="">
					        </div>
					        <div class="form-group input-group">
					          <span class="input-group-addon">
					            Email
					          </span>
					          <input id = "email"class="form-control" placeholder="Email" name="email" type="email" value="" required="">
					        </div>
					          <div class="form-group input-group">
					          <span class="input-group-addon">
					            Confirm Email
					          </span>
					          <input id = "confirmEmail"class="form-control" placeholder="Confirm Email" name="email" type="email" value="" required="">
					        </div>
					        <div class="form-group input-group">
					          <span class="input-group-addon">
					            Password
					          </span>
					          <input id = "password" class="form-control" placeholder="Password" name="password" type="password" value="" required="">
					        </div>
					        <div class="form-group input-group">
					          <span class="input-group-addon">
					            Verify Password
					          </span>
					          <input id = "confirmPassword" class="form-control" placeholder="Verify Password" name="password" type="password" value="" required="">
					        </div>
					        <div class="form-group">
					          <button type="submit" onclick="createAccount()" class="btn btn-primary btn-block">
					            Register Account 
					          </button>
					        </div>
					      </fieldset>
					    </form>
				  </div>
				  <!-- Forgot password -->
				  <div style="display: none;" id="form-olvidado">
				    <h4 id="forgot-password">
				      Forgot your password?
				    </h4>
				    <form accept-charset="UTF-8" role="form" id="login-recordar" method="post">
				      <fieldset>
				        <span class="help-block">
				          Please enter your email address
				          <br>
				          We will send you an email to verify that this is your account. 
				        </span>
				        <div class="form-group input-group">
				          <span class="input-group-addon">
				            <i class="glyphicon glyphicon-envelope"></i>
				          </span>
				          <input class="form-control" placeholder="Enter your email" name="email" type="email" required="">
				        </div>
				        <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
				          Continue 
				        </button>
				        <p class="help-block">
				          <a class="pull-right text-muted" href="#" id="acceso">
				          	<i class="glyphicon glyphicon-user" id="small-user"></i>
				          	<small>Account Login</small>
				          </a>
				        </p>
				      </fieldset>
				    </form>
				  </div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>

	<section id="section02" class="demo">
		<a href="#page2"><span></span></a>
	</section>


	<div id="page2">
		<div class="col-md-6">
			<div id="features-wrapper">
				<div id="features-content">
					<h2 class="text-center">Features</h2>
					<h4>Bring practice online.</h4>
					<p>Upload film and score individual plays based on personalized categories like 'Passes' and 'Tackles.'</p>
				</div>
			</div>
		</div>


		<div class="col-md-6">
			<img id="view-img" src="../img/coach.png" class="img-fluid" alt="Responsive image" height="100%" width="100%">
		</div>
	</div>

	<!-- page3 -->
	<div id="page3">
		<div class="row">
			<div class="col-md-12">
				<div id="progress-wrapper">
					<div id="progress-content">
						<h2 class="text-center">View Your Team's Progress</h2>
						<h4>Improve your season one game at a time.</h4>
						<p>Upload film and score individual plays based on personalized categories like 'Passes' and 'Tackles.'</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="graph-wrapper">
				<div id="graph"></div>
			</div>
		</div>
	</div>


		
		<!-- footer -->
		<!-- <div class="navbar navbar-default" id="footer">
		    <div class="container">
			    <p class="navbar-text pull-left">© 2017 - Site Built By CS132 FFS Group
			        <a href="http://cs.brown.edu/courses/csci1320/" target="_blank">CS132 Site</a>
			    </p>
		    </div>
		</div> -->
	</body> 
</html>