<!DOCTYPE html>
<html>
	<head>
		<!--jQuery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.7.8/firebase.js"></script>
			<script>
  // Initialize Firebase
  var config = {
  	apiKey: "AIzaSyCcn-PMVozRa8Gkem8JImkEBBIIiancl5k",
  	authDomain: "gamevue-c6394.firebaseapp.com",
  	databaseURL: "https://gamevue-c6394.firebaseio.com",
  	projectId: "gamevue-c6394",
  	storageBucket: "gamevue-c6394.appspot.com",
  	messagingSenderId: "351663205276"
  };
  firebase.initializeApp(config);
  </script>
		<!-- Latest compiled and minified CSS for bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme for bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript for bootstrap-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../styles/gameview_style.css">
		<script src="../js/gameview.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5">
					<ul class="play-details-list">
						<li class="opponent-name">
							<span>vs. Eastlake<span>
						</li>
						<li class="side-of-ball play-details-margin">
							<span>Defense</span>
						</li>
						<li class="play-location play-details-margin">
							<span>Quarter 3<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						                               Drive 2<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						                               Play 7
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 play-view-left-sctn">
					<div class="row">
						<div class="col-md-12">
							<div class="well score-sctn">
								<div class="play-score-sctn">
									<div class="play-score play-score-avg play-score-md">
									74
									</div>
								</div>
								<div class="attr-score-sctn">
									<div class="attr-score" id="press">
									</div>
									<div class="attr-text">
										<span>Press</span>
									</div>
								</div>
								<div class="attr-score-sctn">
									<div class="attr-score" id="playRec">
									</div>
									<div class="attr-text">
										<span>Play Recognition</span>
									</div>
								</div>
								<div class="attr-score-sctn">
									<div class="attr-score" id="technique">
									</div>
									<div class="attr-text">
										<span>Technique</span>
									</div>
								</div>
								<div class="attr-score-sctn">
									<div class="attr-score" id="discipline">
									</div>
									<div class="attr-text">
										<span>Discipline</span>
									</div>
								</div>
								<div class="attr-score-sctn">
									<div class="attr-score" id="effort">
									</div>
									<div class="attr-text">
										<span>Effort</span>
									</div>
								</div>							
								<!--<div class="attr-score-sctn">
									<div class="attr-score">
									</div>
									<div class="attr-text">
										<span>Patience</span>
									</div>
								</div>
								<div class="attr-score-sctn">
									<div class="attr-score">
									</div>
									<div class="attr-text">
										<span>QB's Eyes</span>
									</div>
								</div>
								<div class="attr-score-sctn">
									<div class="attr-score">
									</div>
									<div class="attr-text">
										<span>Backpedal</span>
									</div>
								</div>-->
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="vid-player-sctn">
								<div class="carat-sctn">
									<span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
								</div>
								<div class="vid-player">
									<video controls>
									</video>
								</div>
								<div class="carat-sctn">
									<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 play-view-right-sctn">
					<div class="play-select-sctn">
						<div class="well play col-md-12">
							<ul class="play-list">
								<li>
									<div class="play-score play-score-avg play-score-sm">
									71
									</div>
								</li>
								<li>
									<div class="play-dd">
									3rd & 7	
									</div>
								</li>
								<li>
									<div class="play-result">
									Completed Pass-8 yards
									</div>
								</li>
							</ul>
						</div>
						<div class="well play col-md-12">
							<ul class="play-list">
								<li>
									<div class="play-score play-score-good play-score-sm">
									85
									</div>
								</li>
								<li>
									<div class="play-dd">
									1st & 10	
									</div>
								</li>
								<li>
									<div class="play-result">
									Completed Pass-8 yards
									</div>
								</li>
							</ul>
						</div>
						<div class="well play col-md-12">
							<ul class="play-list">
								<li>
									<div class="play-score play-score-good play-score-sm">
									98
									</div>
								</li>
								<li>
									<div class="play-dd">
									2nd & 8	
									</div>
								</li>
								<li>
									<div class="play-result">
									Incomplete Pass
									</div>
								</li>
							</ul>
						</div>
						<div class="active well play col-md-12">
							<ul class="play-list">
								<li>
									<div class="play-score play-score-avg play-score-sm">
									74
									</div>
								</li>
								<li>
									<div class="play-dd">
									3rd & 8	
									</div>
								</li>
								<li>
									<div class="play-result">
									Rush-9 yards
									</div>
								</li>
							</ul>
						</div>
						<div class="well play col-md-12">
							<ul class="play-list">
								<li>
									<div class="play-score play-score-bad play-score-sm">
									45
									</div>
								</li>
								<li>
									<div class="play-dd">
									1st & 10
									</div>
								</li>
								<li>
									<div class="play-result">
									Completed Pass-8 yards
									</div>
								</li>
							</ul>
						</div>
						<div class="well play col-md-12">
							<ul class="play-list">
								<li>
									<div class="play-score play-score-good play-score-sm">
									90
									</div>
								</li>
								<li>
									<div class="play-dd">
									1st & 10	
									</div>
								</li>
								<li>
									<div class="play-result">
									Rush-12 yards
									</div>
								</li>
							</ul>
						</div>
						<div class="well play col-md-12">
							<ul class="play-list">
								<li>
									<div class="play-score play-score-avg play-score-sm">
									76
									</div>
								</li>
								<li>
									<div class="play-dd">
									2nd & 6
									</div>
								</li>
								<li>
									<div class="play-result">
									Completed Pass-4 yards
									</div>
								</li>
							</ul>
						</div>
						<div class="well play col-md-12">
							<ul class="play-list">
								<li>
									<div class="play-score play-score-bad play-score-sm">
									58
									</div>
								</li>
								<li>
									<div class="play-dd">
									1st & 10	
									</div>
								</li>
								<li>
									<div class="play-result">
									Completed Pass-15 yards
									</div>
								</li>
							</ul>
						</div>
						<div class="well play col-md-12">
							<ul class="play-list">
								<li>
									<div class="play-score play-score-good play-score-sm">
									85
									</div>
								</li>
								<li>
									<div class="play-dd">
									2nd & 10	
									</div>
								</li>
								<li>
									<div class="play-result">
									Incomplete Pass
									</div>
								</li>
							</ul>
						</div>
						<div class="well play col-md-12">
							<ul class="play-list">
								<li>
									<div class="play-score play-score-bad play-score-sm">
									63
									</div>
								</li>
								<li>
									<div class="play-dd">
									3rd & 2	
									</div>
								</li>
								<li>
									<div class="play-result">
									Rush-12 yards
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>