<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>playVue</title>
		<script src="https://www.gstatic.com/firebasejs/3.7.8/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
			apiKey: "AIzaSyCcn-PMVozRa8Gkem8JImkEBBIIiancl5k",
			authDomain: "playvue-c6394.firebaseapp.com",
			databaseURL: "https://playvue-c6394.firebaseio.com",
			projectId: "playvue-c6394",
			storageBucket: "playvue-c6394.appspot.com",
			messagingSenderId: "351663205276"
		  };
		  firebase.initializeApp(config);
		  </script>
		<!-- add favicon -->
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<!--<script type="text/javascript" src="../js/plays.js"></script>-->
		<link rel="stylesheet" href="../styles/home-style.css" type="text/css"/>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="home">GameVue</a>
		    </div>
		    <div id="top-bar" class="collapse navbar-collapse">
		      <ul class="nav navbar-nav">
		        <li id="team-name"><a href="home">Brown University Football Team</a></li>
		      </ul>
		      <ul class="nav navbar-nav" id="hidden-nav">
		        <li><a href="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		        <li><a href="playpage"><span class="glyphicon glyphicon-film"></span> plays</a></li>
		        <li><a href="players"><span class="glyphicon glyphicon-user"></span> Players</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li id="logout"><a onclick = "signOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		      </ul>
		    </div><!--/.nav-collapse -->
		</div><!--/.navbar -->

		<div class="row-offcanvas row-offcanvas-left">
		  <div id="sidebar" class="sidebar-offcanvas">
		      <div class="sidebar-headers">
		      	<div id="side-bar-names">
			        <h3>Navigate</h3>
			    </div>
		        <ul id="nav-side-list" class="nav nav-stacked">
		          <hr>
		          <li id="home-nav"><a href="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		          <hr>
		          <li><a href="gamepage"><span class="glyphicon glyphicon-film"></span> Games</a></li>
		          <hr>
		          <li><a href="players"><span class="glyphicon glyphicon-user"></span> Players</a></li>
		          <hr>
		          <!-- <li><a href="home"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>
		          <hr> -->
		          <!--<li><a href="#"><span class="glyphicon glyphicon-upload"></span> Upload Video</a></li>
		          <hr>-->
		          <!-- <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Settings</a></li>
		          <hr> -->
		        </ul>
		      </div>
		  </div>

		  <div id="main">

		  <div class="row">
			<h1 id="plays-header">
				Plays
			</h1>
		  </div>
		  <div id="thumbnail-holder" class="row">
				<div class="col-sm-6 col-md-3">
					<div class="thumbnail add-play-thumbnail text-center" data-toggle="modal" data-target="#addPlayModal">
						<div class="thumbnail-content">
							<span id="add-play-plus" class="glyphicon glyphicon-plus"></span>
						</div>
						<div class="thumbnail-footer">
							<div class="add-play-txt">
								Add New Play
							</div>
						</div>
					</div>
				</div>
			</div>


			<div id="addPlayModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">
				<div class="modal-content">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add New Play</h4>
				  </div>
				  <div class="modal-body">
					<h3>
					To Add Plays to this play, upload the video(s) of the play(s) below.
					</h3>
					<form id="playForm">
						<input id="videoUploadInput" type="file" name="filefield" multiple="multiple">
						<button type="submit" class="btn btn-default">
							Upload
						</button>
					</form>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				  </div>
				</div>
			  </div>
			</div>

		</div>

	</body>
	<style type="text/css">
		.thumbnail{
			white-space:nowrap;
			cursor:pointer;
			position: relative;
		}
		.thumbnail-content{
			height: 85px;
		}
		.thumbnail-footer{
			height:50px;
			line-height:50px;
		}
		.click-play-txt{
			font-size:15px;
		}
		.add-play-txt{
			font-size:20px;
		}
		.play-name{
			font-size: 24px;
			height: 50px;
			line-height: 50px;
			font-weight: 500; 
		}
		.icon {
			font-size: 35px;
			height: 35px;
			line-height: 35px;
			color: #0059b3;
		}
		#add-play-plus{
			line-height: 85px;
			color: #0059b3;
			font-size: 25px;
		}
		#plays-header{
			margin-left:20px;
		}
		.edit {
			position: absolute;
		    top: 0px;
		    right: 0px;
		    border-style: solid;
		    border-color: lightgray; 
		    border-radius: 2px; 
		    border-width: 1px;
		    width: 20px;
		    height: 20px;
		    margin: 2px;
		}
		#name-text {
			border:none;
			resize:none;
			font-family:Arial;
			width: 100%;
			height: 100%;
			overflow:hidden;
		}
	</style>

	<script>
		
		var teamId;
		  $(document).ready(function(){
		  function signOut() {
  				firebase.auth().signOut().then(function() {
    			window.location = "/";
  				}).catch(function(error) {
    				alert(error.message);
  				});
			}
		  firebase.auth().onAuthStateChanged(function(user) {
			var userIsCoach = (firebase.auth().currentUser.displayName[0] == 'c');
			if (user && userIsCoach) {
				var playsParam = {
					gameId:localStorage.gameId
				}
				$.post('/getPlaysForGame', playsParam, function(response){
					for(id in response){
						var play = response[id];
						buildPlayEl(play.playTitle, play.playId);
					}
				});
				$(document).on('click', '.icon' , function(){
					localStorage.playId = $(this)[0].id;
					document.location.href = '/coachview';
				});
				$(document).on('focusout', '.name-text', function(){
					var playTitle = $(this).val();
					var playId = $(this).parent().parent().find('.icon')[0].id;
					var updateParams = {
						playTitle:playTitle,
						playId:playId
					};
					if(playTitle.length > 0){
						$.post('/updatePlayName', updateParams, function(response){
						});
					}
				});
				$(document).on('click', '.edit', function(e) {
					$(this).parent().parent().find('textarea').removeAttr('readonly');
				}); 
				$("#playForm").submit(function(e){
				e.preventDefault();
				$('#addPlayModal').modal('hide');
				var gameId = localStorage.gameId;
				console.log(gameId);
				for(var i =0; i<$("#videoUploadInput").prop('files').length;i++){
					var file = $("#videoUploadInput").prop('files')[i];
					uploadFile(gameId, file);
				}
			});
			function uploadFile(gameId, file){
				// Create the file metadata
				var metadata = {
					contentType: file.type
				};
				// Create a root reference
				var storageRef = firebase.storage().ref();
				// Upload file and metadata to the object 'images/mountains.jpg'
				var uploadTask = storageRef.child('videos/'+ gameId+"/" + file.name).put(file, metadata);
				// Listen for state changes, errors, and completion of the upload.
				uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
					function(snapshot) {
					// Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
					var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
					console.log('Upload is ' + progress + '% done');
					switch (snapshot.state) {
					  case firebase.storage.TaskState.PAUSED: // or 'paused'
					  console.log('Upload is paused');
					  break;
					  case firebase.storage.TaskState.RUNNING: // or 'running'
					  console.log('Upload is running');
					  break;
					}
				}, function(error) {
					console.log(error.code);
				}, function() {
					// Upload completed successfully, now we can get the download URL
					var downloadURL = uploadTask.snapshot.downloadURL;
					var parameters = {
						gameId:gameId,
						fileName:file.name
					};
					$.post('/createPlay', parameters, function(response){
						buildPlayEl(response.playName, response.playId);
					});
				});
			}
		 function buildPlayEl(playName, id){
		 	var divString = '<div></div>';
			var spanDiv = '<span></span>';
			var textDiv = '<textarea readonly id="name-text"></textarea>';
		 	var widthDiv = $(divString);
		 	widthDiv.addClass("col-sm-6 col-md-3");
		 	var thumbnailDiv = $(divString);
			thumbnailDiv.addClass('thumbnail play-thumbnail text-center');
			widthDiv.append(thumbnailDiv);
			var editDiv  = $(divString);
			editDiv.addClass('edit');
			var editSpan = $(spanDiv);
			editSpan.addClass('glyphicon glyphicon-pencil text-center');
			editDiv.append(editSpan);
			thumbnailDiv.append(editDiv);
			var contentDiv = $(divString);
			contentDiv.addClass('thumbnail-content');
			thumbnailDiv.append(contentDiv);
			var nameDiv = $(divString);
			nameDiv.addClass('play-name');
			contentDiv.append(nameDiv);
			var textArea = $(textDiv);
			textArea.addClass("text-center name-text");
			textArea.html(playName);
			nameDiv.append(textArea);
			var iconDiv = $(divString);
			iconDiv.addClass('icon');
			iconDiv.attr('id', id);
			contentDiv.append(iconDiv);
			var iconSpan = $(spanDiv);
			iconSpan.addClass('glyphicon glyphicon-film');
			iconDiv.append(iconSpan);
			var footerDiv = $(divString);
			footerDiv.addClass('thumbnail-footer');
			thumbnailDiv.append(footerDiv);
			var clickPlay = $(divString);
			clickPlay.addClass('click-play-txt');
			clickPlay.html('Click To View');
			footerDiv.append(clickPlay);
		 	$("#thumbnail-holder").append(widthDiv);
		}; 
			}
			else {
				window.location = "/";
			}
		  });
		  });
	</script>

</html>