.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 50%;
}

.panel p {
  padding-top: 5px;
}

li {
  list-style: none; 
}

 /* section classes */
.sectionTitle {
    padding-bottom: 20px; 
    padding-top: 10px; 
}

.sectionTitle-font, .sectionTitle {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
  font-size: 30pt;
  color: #333333;
}

section {
    font-size: 1.8rem;
}

.well-home{
  height: 180px;
}

.weakness-score {
  background-color: #d9534f; 
  height: 100px;
  text-align: center; 
  margin: auto;
    width: 50%;
    border: 3px solid #d9534f;
    padding: 10px;
    color: white;
}

.strength-score {
  background-color: #5cb85c; 
  height: 100px;
  text-align: center; 
  margin: auto;
    width: 50%;
    border: 3px solid #5cb85c;
    padding: 10px;
    color: white;
}

#recent-title {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: lighter;
  font-size: 30pt;
  color: #333333;
}

/* navbar */
#logout {
  padding-right: 10px; 
}

.navbar {
  /*background-color: #4FA2C2; */
  background-color: black;
  border-bottom-color: gray; 
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  position: fixed;
  z-index: 1; 
}

#top-bar li a {
  color: white;
}

.navbar-inverse .navbar-header .navbar-brand {
    color: white;
    letter-spacing: 3px; 
}

/* hide nav */
#hidden-nav {
  display: none;
}

@media all and (max-width: 765px) and (min-width: 20px) {
  #hidden-nav {
    display: block;
  }
  #team-name {
    display: none; 
  }
}

/**/

body,html,.row-offcanvas {
  height:100%;
}

body {
  padding-top: 50px;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color: #2C3A42;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
  border-right-style: solid; 
  border-right-color: gray; 
  border-right-width: 1px; 
  z-index: 1000; 
}

#sidebar h3 {
  color: white;
}

#sidebar h5 {
  color: gray;
}

#side-bar-names {
  padding-left: 8px; 
  padding-bottom: 5px; 
}

#nav-side-list {
  background-color: #3A4B56;
  width: 100%;
}

#nav-side-list a {
  color: white;
}

#nav-side-list a:hover {
    background-color: #4FA2C2;
}

#active { 
  background-color: #65B688; 
}

#active a:hover { 
  background-color: #65B688; 
}

#top-bar a:hover { 
  color: #bfbfbf; 
}

hr {
  border-color: #8c8c8c; 
  height: 0px;
  margin: 0;
  width: 100%;
  background-color: #8c8c8c; 
}

#main {
  height:100%;
  overflow:auto;
  padding-bottom: 20px; 
  padding-right: 20px;
  padding-left: 20px; 
  /*background-color: #f2f2f2; */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

#main h3 {
  font-family: Verdana; 
  padding-left: 20px; 
  padding-bottom: 7px; 
  font-weight: 200; 
  color: #4d4d4d;
}

#dashboard {
  border-bottom-style: solid; 
  border-bottom-color: #f2f2f2; 
  border-bottom-width: 1px; 
  margin-left: -20px;
  margin-right: -20px;
}

#dash-title {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
  font-size: 22pt;
  color: #333333;
  padding: 10px; 
}

#graph h3{
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 100;
  font-size: 30pt;
  color: #333333;
}

#graph {
  margin: 0; 
}

#graph hr {
  background-color: #f2f2f2; 
  border-color: #f2f2f2;
  margin-bottom: 20px; 
  height: 0;
}

#strength-weakness {
  padding-top: 30px; 
  padding-bottom: 30px; 
}

#strength-weakness hr {
  background-color: #f2f2f2; 
  border-color: #f2f2f2;
  margin-bottom: 25px; 
  height: 0;
}

#recent-uploads hr {
  background-color: #f2f2f2; 
  border-color: #f2f2f2;
  margin-bottom: 20px; 
  height: 0;
}

#recent-uploads {
  padding-top: 100px; 
  padding-bottom: 100px; 
}

/*
#chart {
  height: 300px;
  padding: 20px;
  background: linear-gradient(to bottom, #345 0%, #234 100%);
}*/

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}
