.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li a { color: #000 } 

#top-bar li a:hover { color: black } 

.navbar-brand {
	letter-spacing: 2px; 
	font-family: "Helvetica Neue", Arial, sans-serif;
}

.navbar-inverse .navbar-header .navbar-brand:hover {
	color: black;
}

.page1 {
	color: #F9F9F9;
	/*background-color: #b3d9ff; 
	background: -webkit-linear-gradient(left, #b3d9ff, #e6e6ff); 
	background: -o-linear-gradient(right, #b3d9ff, #e6e6ff); 
	background: -moz-linear-gradient(right, #b3d9ff, #e6e6ff); 
	background: linear-gradient(to right, #b3d9ff, #e6e6ff); */
	/*background-color: #28282E; */
	background-image: url('../img/bg.jpg'); 
	/*opacity: .9;*/
	background-size: cover;
	font-family: sans-serif;
	height: 100%;
	margin-top: -20px; 
}

#title {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: 100;
	font-size: 45pt; 
	/*color: #0099e6;*/
}

#title-wrapper {
	display: inline-block;
	padding-left: 60px;
	padding-top: 100px;
}

#title-wrapper h5 {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: 300; 
	font-size: 12pt;
	margin-left: 15px; 
	color: lightgray;
}

#learn-more {
    box-shadow: 1px 1px 5px #1a1a1a;
    border: none;
    border-radius: 2px;
    background-color: #8c8c8c; 
    color: #fff;
    padding: 5px;
    font-size: 10pt; 
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 100;
}

#learn-more:hover {
	background-color: #fff; 
	color: #8c8c8c;
}

#small-lock {
    font-size: 10px;
}

#small-user {
	font-size: 10px; 
}

.jumbotron {
	padding-left: 20px;
}

h2 {
	color: navy;
}

h4 {
	padding-bottom: 10px; 
}

.panel-heading {
	text-align: center; 
}

.well {
	margin: 80px; 
	background-color: #F9F9F9; 
	padding: 10px;
}

.panel-heading a {
	font-weight: bold;
	font-size: 18px; 
	text-decoration: none; 
}

.panel-heading a.active{
	color: gray;
	font-size: 15px;
}

.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px; 
	height: 1px;
	border-bottom-color: #c5c5c5; 
	border-bottom-width: 1px; 
}

#login-header {
	padding-top: 10px; 
	color: gray;
}

#forgot-password {
	color: gray;
}

#register-header {
	color: gray;
}

#page2 {
	height: 600px;
	width: 100%;
	background-color: #F4F4F4;
	line-height: 600px; 
	text-align: center; 
}

#features-wrapper {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
  margin-left: -50px; 
}

#features-wrapper h2 {
	color: #262628;
	font-size: 60pt; 
	font-weight: 100;
}

#features-wrapper h4 {
	font-weight: 400; 
	font-size: 15pt;
}

#features-wrapper p {
	font-weight: 300; 
	color: #646464; 
	font-size: 10pt;
}

#features-content {
	display: inline-block;
	text-align: left; 
	margin-left: 30%;
	margin-right: 30%;
}

#page3 {
	height: 650px;
	width: 100%;
	background-color: #FFC743;
	line-height: 350px; 
	text-align: center; 
}

#progress-wrapper {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
  margin-left: -50px; 
}

#progress-wrapper h2 {
	color: #262628;
	font-size: 55pt; 
	font-weight: 100;
}

#progress-wrapper h4 {
	font-weight: 400; 
	font-size: 15pt;
}

#progress-wrapper p {
	font-weight: 300; 
	color: #646464; 
	font-size: 10pt;
}

#progress-content {
	display: inline-block;
	text-align: center; 
}

#graph {
	margin-right: auto;
	margin-left: auto; 
	height: 450px;
	margin-top: -120px; 
}


/* Scroll */

.demo a {
	position: absolute;
	bottom: 0px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.demo a:hover {
	opacity: .5;
}

#section02 a {
	padding-top: 60px;
}
#section02 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#section02 a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

#view-img {
	margin: 0;
}

